# Prerequisites
*.d
# UE5 Intermediate
Intermediate/
# UE5 Binaries
Binaries/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VS-Code Rubbish
.vscode/
.vscode\

# Executables
*.exe
*.out
*.app
